@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a6a5a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.main-content {
    position: relative;
    display: flex;
    min-height: 100vh;
    color: white;
    background-color: rgb(30, 30, 30);
    top: 0;
    left: 80px;
    transition: all 0.6s ease-in-out;
    width: calc(100% - 80px);
    padding: 1rem;
}

.bodybg {
    background-color: rgba(68, 68, 68, 255) !important;
    color: white !important;
}


.alert {
    visibility: hidden;
    padding: 5px !important;
    text-align: center;
}

::placeholder {
    color: white !important;
}

.miniNoteDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 1rem; 
}

.miniNoteBody{
    flex: 1;
    margin-top: 1rem;
}
.miniNote{
    min-width: 100px;
    max-width: 49.25%;
    flex-shrink: 1;
    flex-grow: 1;
    max-height: 17rem;
    margin-top: 1rem;
}

.miniNoteScroll{
    overflow-y: scroll;
}

.miniNote:hover{
    border: 1px solid white;
    box-shadow: 1px 1px white;
}

.card-body {
    overflow-y: scroll;
    border-radius: 11px ;
    padding: 10px;
}

.card-body::-webkit-scrollbar{
    display: none;
}


.noteFooter{
    border-radius: 0 0 5px 5px;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.noteFooter .footer{
    height: 30px;
    padding: 2px;
    margin: 2px;
}