.clock {
    border: 1px solid white;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(68, 68, 68, 255);
}

#date {
    font-size: 20px !important;
    text-align: center;
}

.clock ul {
    list-style: none;
    display: flex;
    font-size: 55px;
    gap: 12px;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.clock ul li {
    flex-wrap: wrap;
    flex-shrink: 1;
}

.sub-container {
    background-color: rgba(68, 68, 68, 255);
    border: 1px solid white;
    padding: 30px;
    border-radius: 5px;
}

.close {
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.details {
    flex: 2;
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.open {
    width: 100%;
    border: none;
    height: 40px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

ul {
    padding: 0 !important;
}

ul .reminderList {
    list-style: none;
    font-size: 17px;
    padding: 12px 45px;
    position: relative;
    border-radius: 15px;
    margin-top: 15px;
    background: rgba(68, 68, 68, 255);
    color: white;
}

.imgSize {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.popupbg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.893);
    display: flex;
    justify-content: center;
}

.popup {
    width: 40%;
    min-height: 50%;
    position: absolute;
    top: 25%;
    border-radius: 5px;
    border: 2px solid white;
    align-content: center;
    text-align: center;
}