::placeholder{
    color: white !important;
}

#listContainer{
    padding: 0;
}

.taskdone{
    border-radius: 50%;
    height: 35%;
    width: 35% !important;
    margin-left: 35%;
    visibility: hidden;
}

ul .checker{
    list-style: none;
    font-size: 17px;
    padding: 12px 45px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    margin-top: 15px;
    background: rgba(68, 68, 68, 255);
    color: white;
}

ul .checker::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 8px;
    background: white;
}

ul .checker .imgSize{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

ul .checked{
    text-decoration: line-through !important;
    color: black;
}
ul .checked::before{
    background-image: url("images/check-circle.png");
    background-size: cover;
}